
<div class="row">
<div class="col-lg-6 col-sm-12" id="line-chart">
          <div class="panel panel-default">
            <div class="panel-heading">Line Chart</div>
            
          </div>
        <div class="panel-body">
              <div class="chart-container"><canvas id="line" class="chart chart-line" chart-data="lead.data"
  chart-labels="lead.labels" chart-legend="true" chart-series="lead.series"
  chart-click="lead.onClick" chart-colours="yellow">
</canvas>
</div>
            </div></div>


<div class="col-lg-6 col-sm-12" id="line-chart">
          <div class="panel panel-default">
            <div class="panel-heading">Radar</div>
            
          </div>
        <div class="panel-body">
              <div class="chart-container"><canvas id="radar" class="chart chart-radar"
  chart-data="lead.datax" chart-labels="lead.labelsx">
</canvas> 
</div>
            </div></div></div>
            <div class="row">
            <div class="col-lg-6 col-sm-12" id="line-chart">
          <div class="panel panel-default">
            <div class="panel-heading">Doughnut Chart</div>
            
          </div>
        <div class="panel-body">
              <div class="chart-container"><canvas id="doughnut" class="chart chart-doughnut"
  chart-data="lead.datay" chart-labels="lead.labelsy">
</canvas>  
</div>
            </div></div>
            
            <div class="col-lg-6 col-sm-12" id="line-chart">
          <div class="panel panel-default">
            <div class="panel-heading">Polar Area Chart</div>
            
          </div>
        <div class="panel-body">
              <div class="chart-container"><canvas id="polar-area" class="chart chart-polar-area"
  chart-data="lead.dataz" chart-labels="lead.labelsz">
</canvas> 
</div>
            </div></div></div>
            
